<h2>Access Denied</h2>
<%- if SanctionUi.describe_role_to_known_users_on_access_denied &&
	  current_user_principal_instance.has_any_role?
	-%>
<p>You were denied access because you do not have the required &quot;<%= @role_definition.name.to_s.humanize %>&quot; role.</p>
  <%= render :file => 'sanction_ui/main/describe' %>
<%- end -%>