<h2>Granular Roles</h2>
<ul class="suiNonGlobalRolesList">
<% Sanction::Role::Definition.all_roles.each do |role_definition| 
	next if role_definition.global?
	-%>
  <li>
	  <span><%= render :partial => "role_definition_in_list", :locals => {:role_definition => role_definition} %></span>
	  <span>LINK TO ADD<%# link_to labels[:add_principal_for_global_role], new_sanction_ui_role_path %></span>
	  <ul class="suiNonGlobalPrincipalsList">
		  <%= render :partial => 'principal_for_global_role', :collection => role_instances_for_global_role(@roles, role_definition), :as => :role, :locals => {:role_definition => role_definition} %>
	  </ul> <%# end of suiNonGlobalPrincipalsList -%>
	</li> <%# end of specific role -%>
<% end -%> 
</ul> <%# end of suiNonGlobalRolesList -%>