<div class="suiContainer">
  <%= render :partial => "header", :locals => {:roles => @roles} -%>
  <%= render :partial => "global_roles_list" %>
  <%= render :partial => "non_global_roles_list" %>
  <%= render :partial => 'footer', :locals => {:roles => @roles} -%>
</div>

