<%- content_for :page_title do -%>
  <%= sui_label :sanction_ui_title %>
<%- end -%>
<div class="suiContainer" id="suiMainIndex">
<%= render :partial => "index_header" %>
<h2>Options</h2>
<ul>
	<li><%= link_to "List People by Role", sanction_ui_roles_path %>: Who is responsible for what in this app?</li>
</ul>
</div>