<h1>Welcome to Sanction UI</h1>
<ul>
	<li>I want to add a global permission <%= link_to "Go!", new_sanction_ui_role_path(:global => true) %></li>
    <li>I want to add a permission over some object <%= link_to "Go!", new_sanction_ui_role_path %></li>
    <li>I want know how the permission system is configured <%= link_to "Go!", sanction_ui_describe_path %></li>
</ul>