<h1>Welcome to Sanction UI: A Permissions Management System</h1>
<p>This page provides a centralized place to manage access control to this application.</p>
<h2>Options</h2>
<ul>
	<li><%= link_to "List People by Role", sanction_ui_roles_path %>: Who is responsible for what in this app?</li>
	<li><%= link_to "List People Alphabetically", '#' %>: NOT DONE YET: Who has access of any kind?</li>
</ul>